* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 800px;
    height: 600px;
    overflow: hidden;
    background: #050508;
}

#root {
    width: 800px;
    height: 600px;
    position: relative;
}
